/*section*/
.section{
    padding: 20px;
    margin: auto;
}
.section--footer{
    margin-top: 70px;
}
a{
    text-decoration: none;
    color: var(--color-text);
}
img{
    position: relative;
    max-width: 100%;
}
.proto a:hover{
    background-color: grey;
}
.web{
    width: 350px;
    padding: 5px;
}
.ovale{
    position: relative;
    width: 400px;
    height: 400px;
    top: 263px;
    border-radius: 100%;
    background-color: #FBC2EB;
    margin: -180px;
    padding: 40px;
    animation: color 5s infinite;
    filter: blur(27.5px);
}
.ovale__2{
    top: 60px;
    height: 228px;
    left: 172px;
}
.ovale__footer{
    position: absolute;
    width: 400px;
    height: 107.75px;
    right: 164px;
    top: 3043px;
    filter: blur(50px);
  }
.box:hover .web {
    opacity: 0.3;
}
.profil {
    position: relative;
    bottom: 152px;
    left: 26px;
    width: 270px;
}
.button {
    background-color: #FCD6F1;/* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 35px;
}
.button:hover {
    background-color: #DEC0D5;
}
@keyframes color {
    0% {
      background-color: #FBC2EB;
    }
    50% {
      background-color: #D1C1ED;
    }
    100% {
      background-color: #FBC2EB;
    }
  }
@media (min-width: 600px){
    .section{
        padding: 50px;
    }
    .web{
        width: 400px;
    }
    .small{
        font-size: 20px;
    }
    .ovale__tab{
        right: 588px;
        top: 147px;
        width: 532px;
    }
    .ovale__2{
        top: 140px;
        left: 525px;
    }
    .text{
        padding: 24px 32px;
        width: 233px;
    }
    .profil{
        grid-column-start: 2;
        grid-column-end: 3;
        top: -76px;
    }
    .texte{
        grid-column-start: 2;
        grid-column-end: 1;
        grid-row-start: 2;
        top: 27px;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 2fr 3fr 1fr;
        column-gap: 50px;
        row-gap: 40px;
        margin: 40px;
        padding: 20px;
    }
}
@media (min-width: 1200px){
    .section{
        padding: 80px;
    }
    .section--main{
    display: flex;  
    justify-content: space-around;  
    }   
    img{
        left: 90px;
        width: 686px;
    }
    .web{
        width: 550px;
        left: 295px;
    }
    .text{
        width: 400px;
        font-size: 22px;
        left: 267px;
    }
    .profil{
       grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
    }
    .ovale__tab{
        right: 647px;
        top: 99px;
        width: 715px;
        height: 514px;
    }
    .ovale__2{
        width: 716px;
        height: 494px;
        left: 14px;
    }
    .button{
        position: absolute;
        left: 348px;
    }
    .ovale__footer{
        width: 1350px;
        height: 409px;
        top: 3714px;
        right: 184px;
    }
  }
  @media (min-width: 2000px){
    .section{
        padding: 150px;
    }
   .box{
    width: 2486px;
   }
}