/*section*/
.section{
    padding: 20px;
    margin: auto;
 
}
a{
    text-decoration: none;
    color: var(--color-text);
}
img{
    border-radius: 50px;
    position: relative;
}
.proto a:hover{
    background-color: grey;
}
.web{
    opacity: 1;
    height: auto;
    transition: .5s ease;
    width: 350px;
    padding: 5px;
}
.edge{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 924px;
    padding: 30px;
}
  
.box:hover .web {
    opacity: 0.3;
}
  
.box:hover .edge{
    opacity: 1;
}
  
.text{
    background-color: var(--color-text-offset);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
.edge--2{
    top: 1150px;
}
.edge--3{
    top: 1330px;
}
.edge--4{
    top: 1500px;
}
.edge--5{
    top: 1750px;
}
.edge--6{
    top: 1980px;
}
@media (min-width: 600px){
    .section{
        padding: 50px;
    }
    .web{
        width: 400px;
    }
    .small{
        font-size: 20px;
    }
    .box{
        display: flex;
        align-items: start;
        justify-content: space-between;
        overflow-x: hidden;
        width: 743px;
       
    }
    .page{
        width: 800px;
        height: 370px;
        font-size: 30px;
        font-family: sans-serif;
        display: flex; 
        justify-content: center;
        align-items: center;
        border-radius: 50px;
      }
      .scroll{
        position: absolute;
        height: 5px;
        width: 0;
        background-color: #fefefe;
        top: 0;
        left: 0;
      }
      .edge{
        position: relative;
        top: 0;
        padding: 0;
        right: 350px;
      }
      .text{
        padding: 24px 32px;
        width: 233px;
      }
      .profil{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
      }
      .container{
        display: grid;
        grid-template-columns: 1fr 2fr 3fr 1fr;
        column-gap: 50px;
        row-gap: 40px;
        margin: 40px;
        padding: 20px;
    }
}
@media (min-width: 1200px){
    .section{
        padding: 80px;
    }
    img{
        left: 90px;
        width: 686px;
    }
    .page{
        height: 600px;
        width: 1150px;
    }
    .box{
        width: 1538px;
        margin-left: -78px;
    }
    .web{
        width: 550px;
    }
    .edge{
        right: 428px;
    }
    .text{
        width: 400px;
        font-size: 22px;
    }
    .profil{
        width: 557px;
    }
  }
  @media (min-width: 2000px){
    .section{
        padding: 150px;
    }
   .box{
    width: 2486px;
   }
}