/*section*/
.section{
    padding: 2rem;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;

    &__footer{
      /*background-image: linear-gradient(113deg, rgba(251, 194, 235, 0.8) 0%, rgba(251, 194, 235, 0.8) 0.01%, rgba(209, 194, 236, 0.72) 48.96%, rgba(166, 193, 238, 0.51) 100%);
      */background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      border-radius: 40% 40% 10% 10%;
      background-color: #FBC2EB;
      margin: -8px;
      width: auto;

      animation: color 5s infinite;
      box-shadow: inset 0px 0px 20px 20px white;
    
    }
}
.projets{
    padding: 1rem;
}

a{
    text-decoration: none;
    color: var(--color-text);
}
img{
    position: relative;
    width: 100%;
}
.profil{
    height: 100%;
}
.ligne{
    height: 1px;
    background-color: black;
}
.ovale{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 2rem;
    left: 80%;
    border-radius: 100%;
    background-color: #FBC2EB;
    margin: -180px;
    animation: color 5s infinite;
    filter: blur(27.5px);
 
      &__2{
        top: 7rem;
        left: -20%;
        z-index: -1;
      }
      &__3{
        top: 69rem;
        z-index: -1;
      }
      &__footer{
        z-index: -1;
        left: -19rem;
        top: -1rem;
        width: 939px;
        height: 357px;
        margin: 22px;
      }

}
@keyframes color {
  0% {
    background-color: #FBC2EB;
  }
  50% {
    background-color: #D1C1ED;
  }
  100% {
    background-color: #FBC2EB;
  }
}
.button {
    background-color: #FCD6F1;
    border: none;
    color: black;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    opacity: 0;
    transition: alL 0.3s ease-out 0.4s;
}
.button:hover {
    background-color: #DEC0D5;
}
.contenu{
    background-image: url(../assets/images/cycle.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 177px;

}
.contenu__etoile{
  background-image: url(../assets/images/constella.png);
}
.contenu__flight{
  background-image: url(../assets/images/flight.png);
}
.contenu__rux{
  background-image: url(../assets/images/rux.png);
}

@media (min-width: 600px){
  .contenu{
    height: 444px;
  }
    
}
@media (min-width: 1200px){
    .section{
      padding: 9rem;
      &__footer{
        padding: 6rem;
      }
    }
    .ovale{
      top: -2rem;
      /*left: 80rem;*/
      width: 892px;
      height: 734px;

      &__2{
        top: 4rem;
      }
      &__3{    
        top: 81rem;
      }

    }
    .ligne{
      height: 2px;
    }
    .contenu {
      transition: opacity ease;
      position: absolute;
      top: 38rem;
      right: 12rem;
      background-size: cover;
      width: 420px;
      height: 191px;
      &__etoile{
        top: 60rem;
      }
      &__flight{
        top: 85rem;
      }
      &__rux{
        top: 110rem;
      }
    }
   

    
  }
@media (min-width: 1750px){
  .section{
    padding: 14rem;
    
  }
  .contenu {
    transition: opacity ease;
    position: absolute;
    top: 42rem;
    right: 18rem;
    background-size: cover;
    width: 420px;
    height: 191px;
    &__etoile{
      top: 66rem;
    }
    &__flight{
      top: 90rem;
    }
    &__rux{
      top: 116rem;
    }
  }
}