li{
    list-style: none;
}

/*reseaux*/
.reseau{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    right: 2rem;
}
.reseau__el a{
    display: inline-block;
      
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
   

    background-image: url(../assets/images/insta.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.reseau__el--insta a:hover{
    background-image: url(../assets/images/instah.svg);
}
.reseau__el--mail a{
    background-image: url(../assets/images/mail.svg);
}
.reseau__el--mail a:hover{
    background-image: url(../assets/images/mailh.svg);
}
.reseau__el--link a{
    background-image: url(../assets/images/link.svg);
}
.reseau__el--link a:hover{
    background-image: url(../assets/images/linkblack.svg);
}
@media (min-width: 600px){
    .reseau__el a{
       height: 54px;

    }
    .reseau__el--mail a{
        width: 59px;
    }
}
@media (min-width: 1200px){
  
}
@media (min-width: 1750px){
    

}