li{
    list-style: none;
}
.menu{
    position: fixed;
    left: 250px;
}
.menu__item a:hover{
    text-shadow: 2px 4px 10px var(--color-text-offset);
}
/*reseaux*/
.reseau{
    list-style: none;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;  
}
.reseau__el a{
    display: inline-block;
    width: 20px;
    
    
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
   

    background-image: url(../assets/images/insta.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.reseau__el--insta a:hover{
    background-image: url(../assets/images/instah.svg);
}
.reseau__el--mail a{
    background-image: url(../assets/images/mail.svg);
}
.reseau__el--mail a:hover{
    background-image: url(../assets/images/mailh.svg);
}

@media (min-width: 600px){
    .menu{
        left: 650px;
    }
    .reseau__el a{
        width: 40px;
    }
}
@media (min-width: 1200px){
    .menu{
        left: 1259px;
        font-size: 25px;
    }
    .reseau__el a{
        width: 80px;
        height: 40px;
    }
}
@media (min-width: 1500px){
    .menu{
        left: 2245px;
        font-size: 25px;
    }
    .reseau__el a{
        margin-left: 500px;
    }
}