body {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-texte);
  overflow-x: hidden;

}
.titleanim {
  position: relative;
  &__animation{
      
      overflow: hidden;
      border-right: 3px solid rgb(208, 0, 255);
      font-size: 50px;
      white-space: nowrap;
      overflow: hidden;
      width: 390px;
      animation: typin 2s steps(40, end) forwards;

        &--bis {
          opacity: 0;
          animation: typinbis 2.2s steps(40, end) 2s forwards;
          }
  }
}

@keyframes typin {
  0% {
    width: 0;
  }
  1%, 99% {
    border-right: 3px solid rgb(208, 0, 255);
  }
  100% {
    border-right: none;
  }
}
@keyframes typinbis {
  0% {
    opacity: 0;
    width: 0;
  }
  1% {
    opacity: 1;
    border-right: 3px solid rgb(208, 0, 255);
  }
  100% {
    opacity: 1;
    border-right: 3px solid rgb(208, 0, 255);
    max-width: 140px;
  }
}

.text{
  position: relative;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}
.copy{
  position: relative;
}
.title{
  font-family: "DM Serif Display", serif;
  font-size: 52px;

  &__sous{
    font-size: 44px;
  }
}


@media (min-width: 600px){
  .title{
    font-size: 100px;
    &__sous{
      font-size: 64px;
    }
  }
  .titleanim__animation{
    width: 800px;
  }
}
@media (min-width: 1200px){
 .title{
  font-size: 180px;
    &__sous{
      font-size: 100px;
    }
 }
}
@media (min-width: 1750px){

}