body {
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-texte);
}
.title {
  font-size: 30px;
  padding: 25px;
}
@media (min-width: 600px){
  .title{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    width: 253px;
  }
}
@media (min-width: 1200px){
  .title {
    font-size: 50px;
    width: 417px;
  }
  body{
    font-size: 25px;
  }

}