body {
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-texte);
}
.title {
  font-size: 30px;
  padding: 25px;
}
@media (min-width: 600px){
  .title{
    padding: 50px;
  }
}
@media (min-width: 1200px){
  .title {
    font-size: 50px;
    padding: 80px;
    width: 597px;
  }
  body{
    font-size: 25px;
  }

}